//colors
$color_disabled: #ddd;
$color_active: #ffd700;
$color_lighten: #ffed85;

//fonts
@font-face {
	font-family: 'fontello';
	src: url('font/fontello.eot');
	src: url('font/fontello.eot#iefix') format('embedded-opentype'),
			 url('font/fontello.woff2') format('woff2'),
			 url('font/fontello.woff') format('woff'),
			 url('font/fontello.ttf') format('truetype'),
			 url('font/fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
$icon_font: 'fontello';

//icons
$icon_full: "\e800";
$icon_half: "\e801";

.stars-rating {
	span {
		color: $color_disabled;
		font-family: $icon_font;
		&.active {
			color: $color_active;
		}
		&:before {
			margin: 5px;
			font-size: 3em;
			font-family: $icon_font;
			display: inline-block;
			content: $icon_full;
		}
		&.half:before {
			content: $icon_half;
			position: absolute;
		}
	}
}